.hidden{
    display: none;
}

.text-center{
    text-align: center !important;
}

.background-wrap {
    background-size: 272px 196px;
    width: 1260px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .content-span {
    color: white;
  }
  
  .content-span:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
  }
  
  .content-span:nth-child(2) {
    font-size: 20px;
  }